@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #d33131;
  --color-background-light: #f8f6f6;
  --color-background-dark: #201212;
}

@layer base {
  body {
    @apply bg-background-light text-slate-900 font-sans;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
